<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tj720.dao.AttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.tj720.model.common.Attachment" >
    <id column="att_id" property="attId" jdbcType="VARCHAR" />
    <result column="att_name" property="attName" jdbcType="VARCHAR" />
    <result column="att_size" property="attSize" jdbcType="BIGINT" />
    <result column="att_path" property="attPath" jdbcType="VARCHAR" />
    <result column="att_isJunk" property="attIsjunk" jdbcType="CHAR" />
    <result column="att_date" property="attDate" jdbcType="TIMESTAMP" />
    <result column="att_type" property="attType" jdbcType="VARCHAR" />
    <result column="attr_user" property="attrUser" jdbcType="VARCHAR" />
    <result column="att_fk_id" property="attFkId" jdbcType="VARCHAR" />
    <result column="att_file_type" property="attFileType" jdbcType="INTEGER" />
    <result column="att_source" property="attSource" jdbcType="VARCHAR" />
    <result column="is_main" property="isMain" jdbcType="CHAR" />
  </resultMap>
  <!--<sql id="Example_Where_Clause" >-->
    <!--<where >-->
      <!--<foreach collection="oredCriteria" item="criteria" separator="or" >-->
        <!--<if test="criteria.valid" >-->
          <!--<trim prefix="(" suffix=")" prefixOverrides="and" >-->
            <!--<foreach collection="criteria.criteria" item="criterion" >-->
              <!--<choose >-->
                <!--<when test="criterion.noValue" >-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue" >-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue" >-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue" >-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Update_By_Example_Where_Clause" >-->
    <!--<where >-->
      <!--<foreach collection="example.oredCriteria" item="criteria" separator="or" >-->
        <!--<if test="criteria.valid" >-->
          <!--<trim prefix="(" suffix=")" prefixOverrides="and" >-->
            <!--<foreach collection="criteria.criteria" item="criterion" >-->
              <!--<choose >-->
                <!--<when test="criterion.noValue" >-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue" >-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue" >-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue" >-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <sql id="Base_Column_List" >
    att_id, att_name, att_size, att_path, att_isJunk, att_date, att_type, attr_user, 
    att_fk_id, att_file_type, att_source, is_main
  </sql>
  <!--<select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tj720.model.common.AttachmentExample" >-->
    <!--select-->
    <!--<if test="distinct" >-->
      <!--distinct-->
    <!--</if>-->
    <!--<include refid="Base_Column_List" />-->
    <!--from post_attachment-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null" >-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from post_attachment
    where att_id = #{attId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from post_attachment
    where att_id = #{attId,jdbcType=VARCHAR}
  </delete>
  
  <!--<delete id="deleteByExample" parameterType="com.tj720.model.common.AttachmentExample" >-->
    <!--delete from post_attachment-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <insert id="insert" parameterType="com.tj720.model.common.Attachment" >
    insert into post_attachment (att_id, att_name, att_size, 
      att_path, att_isJunk, att_date, 
      att_type, attr_user, att_fk_id, 
      att_file_type, att_source, is_main
      )
    values (#{attId,jdbcType=VARCHAR}, #{attName,jdbcType=VARCHAR}, #{attSize,jdbcType=BIGINT}, 
      #{attPath,jdbcType=VARCHAR}, #{attIsjunk,jdbcType=CHAR}, #{attDate,jdbcType=TIMESTAMP}, 
      #{attType,jdbcType=VARCHAR}, #{attrUser,jdbcType=VARCHAR}, #{attFkId,jdbcType=VARCHAR}, 
      #{attFileType,jdbcType=INTEGER}, #{attSource,jdbcType=VARCHAR}, #{isMain,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tj720.model.common.Attachment" >
    insert into post_attachment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attId != null" >
        att_id,
      </if>
      <if test="attName != null" >
        att_name,
      </if>
      <if test="attSize != null" >
        att_size,
      </if>
      <if test="attPath != null" >
        att_path,
      </if>
      <if test="attIsjunk != null" >
        att_isJunk,
      </if>
      <if test="attDate != null" >
        att_date,
      </if>
      <if test="attType != null" >
        att_type,
      </if>
      <if test="attrUser != null" >
        attr_user,
      </if>
      <if test="attFkId != null" >
        att_fk_id,
      </if>
      <if test="attFileType != null" >
        att_file_type,
      </if>
      <if test="attSource != null" >
        att_source,
      </if>
      <if test="isMain != null" >
        is_main,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attId != null" >
        #{attId,jdbcType=VARCHAR},
      </if>
      <if test="attName != null" >
        #{attName,jdbcType=VARCHAR},
      </if>
      <if test="attSize != null" >
        #{attSize,jdbcType=BIGINT},
      </if>
      <if test="attPath != null" >
        #{attPath,jdbcType=VARCHAR},
      </if>
      <if test="attIsjunk != null" >
        #{attIsjunk,jdbcType=CHAR},
      </if>
      <if test="attDate != null" >
        #{attDate,jdbcType=TIMESTAMP},
      </if>
      <if test="attType != null" >
        #{attType,jdbcType=VARCHAR},
      </if>
      <if test="attrUser != null" >
        #{attrUser,jdbcType=VARCHAR},
      </if>
      <if test="attFkId != null" >
        #{attFkId,jdbcType=VARCHAR},
      </if>
      <if test="attFileType != null" >
        #{attFileType,jdbcType=INTEGER},
      </if>
      <if test="attSource != null" >
        #{attSource,jdbcType=VARCHAR},
      </if>
      <if test="isMain != null" >
        #{isMain,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <!--<select id="countByExample" parameterType="com.tj720.model.common.AttachmentExample" resultType="java.lang.Integer" >-->
    <!--select count(*) from post_attachment-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</select>-->
  <!--<update id="updateByExampleSelective" parameterType="map" >-->
    <!--update post_attachment-->
    <!--<set >-->
      <!--<if test="record.attId != null" >-->
        <!--att_id = #{record.attId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.attName != null" >-->
        <!--att_name = #{record.attName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.attSize != null" >-->
        <!--att_size = #{record.attSize,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="record.attPath != null" >-->
        <!--att_path = #{record.attPath,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.attIsjunk != null" >-->
        <!--att_isJunk = #{record.attIsjunk,jdbcType=CHAR},-->
      <!--</if>-->
      <!--<if test="record.attDate != null" >-->
        <!--att_date = #{record.attDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="record.attType != null" >-->
        <!--att_type = #{record.attType,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.attrUser != null" >-->
        <!--attr_user = #{record.attrUser,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.attFkId != null" >-->
        <!--att_fk_id = #{record.attFkId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.attFileType != null" >-->
        <!--att_file_type = #{record.attFileType,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.attSource != null" >-->
        <!--att_source = #{record.attSource,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.isMain != null" >-->
        <!--is_main = #{record.isMain,jdbcType=CHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map" >-->
    <!--update post_attachment-->
    <!--set att_id = #{record.attId,jdbcType=VARCHAR},-->
      <!--att_name = #{record.attName,jdbcType=VARCHAR},-->
      <!--att_size = #{record.attSize,jdbcType=BIGINT},-->
      <!--att_path = #{record.attPath,jdbcType=VARCHAR},-->
      <!--att_isJunk = #{record.attIsjunk,jdbcType=CHAR},-->
      <!--att_date = #{record.attDate,jdbcType=TIMESTAMP},-->
      <!--att_type = #{record.attType,jdbcType=VARCHAR},-->
      <!--attr_user = #{record.attrUser,jdbcType=VARCHAR},-->
      <!--att_fk_id = #{record.attFkId,jdbcType=VARCHAR},-->
      <!--att_file_type = #{record.attFileType,jdbcType=INTEGER},-->
      <!--att_source = #{record.attSource,jdbcType=VARCHAR},-->
      <!--is_main = #{record.isMain,jdbcType=CHAR}-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  
  <update id="updateByPrimaryKeySelective" parameterType="com.tj720.model.common.Attachment" >
    update post_attachment
    <set >
      <if test="attName != null" >
        att_name = #{attName,jdbcType=VARCHAR},
      </if>
      <if test="attSize != null" >
        att_size = #{attSize,jdbcType=BIGINT},
      </if>
      <if test="attPath != null" >
        att_path = #{attPath,jdbcType=VARCHAR},
      </if>
      <if test="attIsjunk != null" >
        att_isJunk = #{attIsjunk,jdbcType=CHAR},
      </if>
      <if test="attDate != null" >
        att_date = #{attDate,jdbcType=TIMESTAMP},
      </if>
      <if test="attType != null" >
        att_type = #{attType,jdbcType=VARCHAR},
      </if>
      <if test="attrUser != null" >
        attr_user = #{attrUser,jdbcType=VARCHAR},
      </if>
      <if test="attFkId != null" >
        att_fk_id = #{attFkId,jdbcType=VARCHAR},
      </if>
      <if test="attFileType != null" >
        att_file_type = #{attFileType,jdbcType=INTEGER},
      </if>
      <if test="attSource != null" >
        att_source = #{attSource,jdbcType=VARCHAR},
      </if>
      <if test="isMain != null" >
        is_main = #{isMain,jdbcType=CHAR},
      </if>
    </set>
    where att_id = #{attId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tj720.model.common.Attachment" >
    update post_attachment
    set att_name = #{attName,jdbcType=VARCHAR},
      att_size = #{attSize,jdbcType=BIGINT},
      att_path = #{attPath,jdbcType=VARCHAR},
      att_isJunk = #{attIsjunk,jdbcType=CHAR},
      att_date = #{attDate,jdbcType=TIMESTAMP},
      att_type = #{attType,jdbcType=VARCHAR},
      attr_user = #{attrUser,jdbcType=VARCHAR},
      att_fk_id = #{attFkId,jdbcType=VARCHAR},
      att_file_type = #{attFileType,jdbcType=INTEGER},
      att_source = #{attSource,jdbcType=VARCHAR},
      is_main = #{isMain,jdbcType=CHAR}
    where att_id = #{attId,jdbcType=VARCHAR}
  </update>
  <select id="getAttachmentById" resultType = "java.util.HashMap">
    select p.att_name as attName,p.att_path as attPath,p.att_file_type as attFileType from post_attachment p
    where 1=1
    <if test="attFkId != null">
      p.att_fk_id = #{attFkId}
    </if>
    <if test="attId != null">
      p.att_id = #{attId}
    </if>
    <if test=" startRow == -1">
      limit #{pageSize}
    </if>
    <if test=" startRow != -1">
      limit #{startRow},#{pageSize}
    </if>
  </select>
  <select id="countAttachmentById" resultType = "java.lang.Integer">
    select count(1) from post_attachment p
    where 1=1
    <if test="attFkId != null">
      p.att_fk_id = #{attFkId}
    </if>
    <if test="attId != null">
      p.att_id = #{attId}
    </if>
  </select>

  <select id="getListByIds" resultMap="BaseResultMap" parameterType="java.util.List">
    select
    <include refid="Base_Column_List" />
    from post_attachment
    where att_id IN
    <foreach collection="list" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
    and att_isJunk = 0
  </select>

  <update id="batchUpdate" parameterType="java.util.List">
    update post_attachment
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="is_main =case" suffix="end,">
        <foreach collection="list" item="item" index="index">
          when att_id=#{item.attId} then #{item.isMain}
        </foreach>
      </trim>
    </trim>
    where att_id in
    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
      #{item.attId}
    </foreach>
  </update>

  <delete id="batchDelete" parameterType="java.util.List">
    DELETE from  post_attachment
    where id IN 
    <foreach collection="list" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </delete>

  <select id="getAttachmentsByFkId" resultMap="BaseResultMap">
    select * from post_attachment
    where att_fk_id = #{fkId}
  </select>

  <select id="getAttachmentsById" resultMap="BaseResultMap">
    select * from post_attachment
    where att_id = #{attId}

  </select>
  <select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from post_attachment
    where
    att_fk_id = #{attfkid}
    and att_type = #{attType}
    and att_isJunk = #{isjunk}
    order by att_date desc

  </select>

  <!--111-->
</mapper>