<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tj720.dao.SysDictMapper" >
  <resultMap id="BaseResultMap" type="com.tj720.model.common.dict.SysDict" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="dict_type" property="dictType" jdbcType="VARCHAR" />
    <result column="dict_code" property="dictCode" jdbcType="VARCHAR" />
    <result column="dict_name" property="dictName" jdbcType="VARCHAR" />
    <result column="dict_order" property="dictOrder" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
  </resultMap>
  <!--<sql id="Example_Where_Clause" >-->
    <!--<where >-->
      <!--<foreach collection="oredCriteria" item="criteria" separator="or" >-->
        <!--<if test="criteria.valid" >-->
          <!--<trim prefix="(" suffix=")" prefixOverrides="and" >-->
            <!--<foreach collection="criteria.criteria" item="criterion" >-->
              <!--<choose >-->
                <!--<when test="criterion.noValue" >-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue" >-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue" >-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue" >-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Update_By_Example_Where_Clause" >-->
    <!--<where >-->
      <!--<foreach collection="example.oredCriteria" item="criteria" separator="or" >-->
        <!--<if test="criteria.valid" >-->
          <!--<trim prefix="(" suffix=")" prefixOverrides="and" >-->
            <!--<foreach collection="criteria.criteria" item="criterion" >-->
              <!--<choose >-->
                <!--<when test="criterion.noValue" >-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue" >-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue" >-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue" >-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <sql id="Base_Column_List" >
    id, dict_type, dict_code, dict_name, dict_order, description, create_by, create_date, 
    pid
  </sql>
  <!--<select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tj720.model.common.dict.SysDictExample" >-->
    <!--select-->
    <!--<if test="distinct" >-->
      <!--distinct-->
    <!--</if>-->
    <!--<include refid="Base_Column_List" />-->
    <!--from sys_dict-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null" >-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_dict
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_dict
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <!--<delete id="deleteByExample" parameterType="com.tj720.model.common.dict.SysDictExample" >-->
    <!--delete from sys_dict-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <insert id="insert" parameterType="com.tj720.model.common.dict.SysDict" >
    insert into sys_dict (id, dict_type, dict_code, 
      dict_name, dict_order, description, 
      create_by, create_date, pid
      )
    values (#{id,jdbcType=VARCHAR}, #{dictType,jdbcType=VARCHAR}, #{dictCode,jdbcType=VARCHAR}, 
      #{dictName,jdbcType=VARCHAR}, #{dictOrder,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{pid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tj720.model.common.dict.SysDict" >
    insert into sys_dict
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dictType != null" >
        dict_type,
      </if>
      <if test="dictCode != null" >
        dict_code,
      </if>
      <if test="dictName != null" >
        dict_name,
      </if>
      <if test="dictOrder != null" >
        dict_order,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="pid != null" >
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dictType != null" >
        #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null" >
        #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null" >
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictOrder != null" >
        #{dictOrder,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!--<select id="countByExample" parameterType="com.tj720.model.common.dict.SysDictExample" resultType="java.lang.Integer" >-->
    <!--select count(*) from sys_dict-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</select>-->
  <!--<update id="updateByExampleSelective" parameterType="map" >-->
    <!--update sys_dict-->
    <!--<set >-->
      <!--<if test="record.id != null" >-->
        <!--id = #{record.id,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.dictType != null" >-->
        <!--dict_type = #{record.dictType,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.dictCode != null" >-->
        <!--dict_code = #{record.dictCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.dictName != null" >-->
        <!--dict_name = #{record.dictName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.dictOrder != null" >-->
        <!--dict_order = #{record.dictOrder,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.description != null" >-->
        <!--description = #{record.description,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.createBy != null" >-->
        <!--create_by = #{record.createBy,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.createDate != null" >-->
        <!--create_date = #{record.createDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="record.pid != null" >-->
        <!--pid = #{record.pid,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map" >-->
    <!--update sys_dict-->
    <!--set id = #{record.id,jdbcType=VARCHAR},-->
      <!--dict_type = #{record.dictType,jdbcType=VARCHAR},-->
      <!--dict_code = #{record.dictCode,jdbcType=VARCHAR},-->
      <!--dict_name = #{record.dictName,jdbcType=VARCHAR},-->
      <!--dict_order = #{record.dictOrder,jdbcType=VARCHAR},-->
      <!--description = #{record.description,jdbcType=VARCHAR},-->
      <!--create_by = #{record.createBy,jdbcType=VARCHAR},-->
      <!--create_date = #{record.createDate,jdbcType=TIMESTAMP},-->
      <!--pid = #{record.pid,jdbcType=VARCHAR}-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <update id="updateByPrimaryKeySelective" parameterType="com.tj720.model.common.dict.SysDict" >
    update sys_dict
    <set >
      <if test="dictType != null" >
        dict_type = #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null" >
        dict_code = #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null" >
        dict_name = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictOrder != null" >
        dict_order = #{dictOrder,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tj720.model.common.dict.SysDict" >
    update sys_dict
    set dict_type = #{dictType,jdbcType=VARCHAR},
      dict_code = #{dictCode,jdbcType=VARCHAR},
      dict_name = #{dictName,jdbcType=VARCHAR},
      dict_order = #{dictOrder,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      pid = #{pid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getDictListByKeys" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_dict
    where 1 = 1
    and dict_type in
    <foreach collection="list" item="item" separator="," open="(" close=")">
      #{item}
    </foreach>
    ORDER BY dict_order
  </select>

  <select id="getDictListByKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_dict
    where 1 = 1
    <if test="key != null and key != ''">
      and dict_type = #{key}
    </if>
    <if test="dictCode != null and dictCode != ''" >
      and dict_code = #{dictCode}
    </if>
    <if test="dictName != null and dictName != ''">
      and dict_name like concat('%',#{dictName},'%')
    </if>
    ORDER BY dict_order
  </select>

  <select id="getDictById" resultMap="BaseResultMap">
    select * from sys_dict
    where id = #{dictId}
  </select>
  <select id="getDictByPid" resultMap="BaseResultMap">
    select * from sys_dict
    where pid = #{pid}
  </select>
  <select id="getDictByDictCode" resultMap="BaseResultMap">
    select * from sys_dict
    where dict_code = #{dictCode}
  </select>

  <select id="getDictList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_dict
    where 1 = 1
    <if test="key != null and key != ''">
      and dict_type = #{key}
    </if>
    <if test="dictCode != null and dictCode != ''" >
      and dict_code = #{dictCode}
    </if>
    <if test="dictName != null and dictName != ''">
      and dict_name like concat('%',#{dictName},'%')
    </if>
    ORDER BY
    dict_type,
    dict_order
    limit #{currentPage},#{size}
  </select>
  <select id="countDictList" resultType="java.lang.Integer">
    select
    count(1)
    from sys_dict
    where 1 = 1
    <if test="key != null and key != ''">
      and dict_type = #{key}
    </if>
    <if test="dictCode != null and dictCode != ''" >
      and dict_code = #{dictCode}
    </if>
    <if test="dictName != null and dictName != ''">
      and dict_name like concat('%',#{dictName},'%')
    </if>
  </select>

  <select id="getSysDictListAll" resultMap="BaseResultMap">
    select * from sys_dict
  </select>


  <select id="getSysDictListByType" resultMap="BaseResultMap">
    select id,dict_code,dict_name
    from sys_dict
    where  dict_type = #{dictType}
  </select>


</mapper>