<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tj720.dao.SysNoticeMapper" >
  <resultMap id="BaseResultMap" type="com.tj720.model.common.system.userlog.SysNotice" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="receiver" property="receiver" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="page" property="page" jdbcType="VARCHAR" />
    <result column="action" property="action" jdbcType="VARCHAR" />
    <result column="send_to" property="sendTo" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="other1" property="other1" jdbcType="VARCHAR" />
  </resultMap>
  <!--<sql id="Example_Where_Clause" >-->
    <!--<where >-->
      <!--<foreach collection="oredCriteria" item="criteria" separator="or" >-->
        <!--<if test="criteria.valid" >-->
          <!--<trim prefix="(" suffix=")" prefixOverrides="and" >-->
            <!--<foreach collection="criteria.criteria" item="criterion" >-->
              <!--<choose >-->
                <!--<when test="criterion.noValue" >-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue" >-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue" >-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue" >-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Update_By_Example_Where_Clause" >-->
    <!--<where >-->
      <!--<foreach collection="example.oredCriteria" item="criteria" separator="or" >-->
        <!--<if test="criteria.valid" >-->
          <!--<trim prefix="(" suffix=")" prefixOverrides="and" >-->
            <!--<foreach collection="criteria.criteria" item="criterion" >-->
              <!--<choose >-->
                <!--<when test="criterion.noValue" >-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue" >-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue" >-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue" >-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <sql id="Base_Column_List" >
    id, receiver, status, page, action, send_to, content, remark, create_time, update_time, 
    creator, updater, sequence, isdelete, other1
  </sql>
  <!--<select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tj720.model.common.system.userlog.SysNoticeExample" >-->
    <!--select-->
    <!--<if test="distinct" >-->
      <!--distinct-->
    <!--</if>-->
    <!--<include refid="Base_Column_List" />-->
    <!--from sys_notice-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null" >-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_notice
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_notice
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <!--<delete id="deleteByExample" parameterType="com.tj720.model.common.system.userlog.SysNoticeExample" >-->
    <!--delete from sys_notice-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <insert id="insert" parameterType="com.tj720.model.common.system.userlog.SysNotice" >
    insert into sys_notice (id, receiver, status, 
      page, action, send_to, 
      content, remark, create_time, 
      update_time, creator, updater, 
      sequence, isdelete, other1
      )
    values (#{id,jdbcType=VARCHAR}, #{receiver,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{page,jdbcType=VARCHAR}, #{action,jdbcType=VARCHAR}, #{sendTo,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{updater,jdbcType=VARCHAR}, 
      #{sequence,jdbcType=INTEGER}, #{isdelete,jdbcType=INTEGER}, #{other1,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tj720.model.common.system.userlog.SysNotice" >
    insert into sys_notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="receiver != null" >
        receiver,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="page != null" >
        page,
      </if>
      <if test="action != null" >
        action,
      </if>
      <if test="sendTo != null" >
        send_to,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="other1 != null" >
        other1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null" >
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="page != null" >
        #{page,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="sendTo != null" >
        #{sendTo,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="other1 != null" >
        #{other1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!--<select id="countByExample" parameterType="com.tj720.model.common.system.userlog.SysNoticeExample" resultType="java.lang.Integer" >-->
    <!--select count(*) from sys_notice-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</select>-->
  <!--<update id="updateByExampleSelective" parameterType="map" >-->
    <!--update sys_notice-->
    <!--<set >-->
      <!--<if test="record.id != null" >-->
        <!--id = #{record.id,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.receiver != null" >-->
        <!--receiver = #{record.receiver,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.status != null" >-->
        <!--status = #{record.status,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.page != null" >-->
        <!--page = #{record.page,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.action != null" >-->
        <!--action = #{record.action,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.sendTo != null" >-->
        <!--send_to = #{record.sendTo,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.content != null" >-->
        <!--content = #{record.content,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.remark != null" >-->
        <!--remark = #{record.remark,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.createTime != null" >-->
        <!--create_time = #{record.createTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="record.updateTime != null" >-->
        <!--update_time = #{record.updateTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="record.creator != null" >-->
        <!--creator = #{record.creator,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.updater != null" >-->
        <!--updater = #{record.updater,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.sequence != null" >-->
        <!--sequence = #{record.sequence,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.isdelete != null" >-->
        <!--isdelete = #{record.isdelete,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.other1 != null" >-->
        <!--other1 = #{record.other1,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map" >-->
    <!--update sys_notice-->
    <!--set id = #{record.id,jdbcType=VARCHAR},-->
      <!--receiver = #{record.receiver,jdbcType=VARCHAR},-->
      <!--status = #{record.status,jdbcType=INTEGER},-->
      <!--page = #{record.page,jdbcType=VARCHAR},-->
      <!--action = #{record.action,jdbcType=VARCHAR},-->
      <!--send_to = #{record.sendTo,jdbcType=VARCHAR},-->
      <!--content = #{record.content,jdbcType=VARCHAR},-->
      <!--remark = #{record.remark,jdbcType=VARCHAR},-->
      <!--create_time = #{record.createTime,jdbcType=TIMESTAMP},-->
      <!--update_time = #{record.updateTime,jdbcType=TIMESTAMP},-->
      <!--creator = #{record.creator,jdbcType=VARCHAR},-->
      <!--updater = #{record.updater,jdbcType=VARCHAR},-->
      <!--sequence = #{record.sequence,jdbcType=INTEGER},-->
      <!--isdelete = #{record.isdelete,jdbcType=INTEGER},-->
      <!--other1 = #{record.other1,jdbcType=VARCHAR}-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <update id="updateByPrimaryKeySelective" parameterType="com.tj720.model.common.system.userlog.SysNotice" >
    update sys_notice
    <set >
      <if test="receiver != null" >
        receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="page != null" >
        page = #{page,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        action = #{action,jdbcType=VARCHAR},
      </if>
      <if test="sendTo != null" >
        send_to = #{sendTo,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="other1 != null" >
        other1 = #{other1,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tj720.model.common.system.userlog.SysNotice" >
    update sys_notice
    set receiver = #{receiver,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      page = #{page,jdbcType=VARCHAR},
      action = #{action,jdbcType=VARCHAR},
      send_to = #{sendTo,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      updater = #{updater,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER},
      isdelete = #{isdelete,jdbcType=INTEGER},
      other1 = #{other1,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getNoticeList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from sys_notice
    where status = '0'
    <if test="userId != null and userId != ''">
      and receiver = #{userId,jdbcType=VARCHAR}
    </if>
    order by update_time desc
    limit 0,6
  </select>

  <select id="getNoticeListPlus" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from sys_notice
    where 1=1
    <if test="userId != null and userId != ''">
      and receiver = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="status != null and status != ''">
      and status = #{status}
    </if>
    <if test="type != null and type != ''">
      and page = #{type}
    </if>
    order by update_time desc
    limit 0,6

  </select>




</mapper>